@model ProductUpdateViewModel
<h3>Update product for Subcategory: @Model.CategoryName</h3>

<h3>Category Name: @Model.SubCategoryName</h3>
<h1> </h1>
<h3> Update Product</h3>

<form asp-controller="Product" asp-action="Update" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Details"></label>
        <input asp-for="Details" />
    </div>
    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" />
    </div>
    <div>
        <input type="hidden" asp-for="CategoryId" />
    </div>
    <div>
        <input type="hidden" asp-for="SubCategoryId" />
    </div>
    <div>
        <input type="hidden" asp-for="ProductId" />
    </div>   

    <div>
        <input type="submit" value="Save" />
    </div>
</form>
@Html.ActionLink("Back to Category: " + @Model.CategoryName, "Details", "Category", new {id= Model.CategoryId })